
#login_modal{       
    width:25%;  
    height: fit-content; 
    margin: auto;  
    
  }

 
  .form_button{    
    margin-top: 10%
  }

  #btn_login{
    margin-left: auto;
    margin-right: auto;
  }


  element.style {
    border: none
 
}

.required_messages{
  font-weight: bold;
  font-size: 13px;
  color: red;
  display: -ms-flexbox;
  display: flex; 
  margin-left: 77px;
}

.form-content{
  text-align: center;
 }
  
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}